<br>
<h2>Ödeme İşlemi</h2>
<div class="row">

  <div class="col-6">
    
    <form #f="ngForm">
     
      
      <div class="form-group">
        <label for="">İsim</label>
        <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">İsim Gerekli.</div>
        </div>
      </div>
     
      
      <div class="form-group">
        <label for="">Adres1</label>
        <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Adres 1" required>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
          <div *ngIf="addressLine1.errors.required">Adres1 Gerekli.</div>
        </div>
      </div>
    
      
      <div class="form-group">
        <label for="">Adres 2</label>
        <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text" class="form-control" placeholder="Adres 2" required>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
          <div *ngIf="addressLine2.errors.required">Adres2 Gerekli.</div>
        </div>
      </div>
    
      
      <div class="form-group">
        <label for="">Şehir</label>
        <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors.required">Şehir Gerekli.</div>
        </div>
      </div>
     
      <button 
        (click)="placeOrder()"
        class="btn btn-primary">Sipariş Ver</button>
    </form>
  </div>
  
  
  <div class="col-6">
    <shopping-card-summary></shopping-card-summary>
  </div>

</div>

